<!DOCTYPE html>
<html>

<head>
	<div data-th-replace="fragments/header-espace-perso :: header-base"/>
	<div data-th-replace="fragments/header-espace-perso :: header-css"/>
</head>
<body>

<div data-th-replace="fragments/header-espace-perso :: nav"/>
	<!-- inner-apge-banner start -->
	<section class="inner-page-banner bg_img overlay-3" data-th-data-background="@{/assets/images/inner-page-bg.jpg}">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="page-title">Administration</h2>
					<ol class="page-list">
						<li><a data-th-href="@{/}"><i class="fa fa-home"></i>Accueil</a></li>
						<li>Espace Admin</li>
					</ol>
				</div>
			</div>
		</div>
	</section>
	<!-- inner-apge-banner end -->
	<section class="car-search-section pt-120 pb-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div data-th-replace="fragments/sidebar-espace-perso :: sidebar"/>
				</div>
				<div class="col-lg-8">
					<div>Admin.reservation.encours</div>
					<!--				<section layout:fragment="formagency_content"></section>-->
					<!--				<section layout:fragment="formCategory_content"></section>-->
					<!--				<section layout:fragment="formRole_content"></section>-->
					<!--				<section layout:fragment="formUser_content"></section>-->
					<!--				<section layout:fragment="listCategory_content"></section>-->
				</div>
			</div>
		</div>

	</section>
	<!-- car-search-section end -->

<div data-th-replace="fragments/footer-espace-perso :: footer"/>

</body>
</html>
