<!DOCTYPE html>
<html>

<head>
	<div data-th-replace="fragments/header :: header-base"/>
	<div data-th-replace="fragments/header :: header-css"/>
</head>
<body>

<div data-th-replace="fragments/header :: nav"/>
<!-- inner-apge-banner start -->
<section class="inner-page-banner bg_img overlay-3" data-th-data-background="@{/assets/images/inner-page-bg.jpg}">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="page-title">Gérant</h2>
				<ol class="page-list">
					<li><a data-th-href="@{/gerant/index}"><i class="fa fa-home"></i>Accueil</a></li>
					<li>Gestion clients</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="car-search-section pt-120 pb-120">
	<div class="container">
		<div class="row card">
			<div class="card-header">
				<i class="fa fa-table me-1"></i>
				Liste des clients
			</div>
			<div class="card-body">
				<p data-th-if="${#lists.isEmpty(listClients)}">Aucun client</p>
				<table id="datatablesSimple" data-th-if="${ not#lists.isEmpty(listClients)}" class="table table-sm">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Prénom</th>
						<th scope="col">Nom</th>
						<th scope="col">Téléphone</th>
						<th scope="col">N° D'identité Nationale</th>
						<th scope="col">Adresse</th>
					</tr>
					</thead>
					<tbody>
					<tr data-th-each="client: ${listClients}" data-th-id="${client.id}" class="tr-sm">
						<td data-th-text="${client.firstName}" />
						<td data-th-text="${client.lastName}" />
						<td data-th-text="${client.phoneNumber}" />
						<td data-th-text="${client.cni}" />
						<td data-th-text="${client.address}" />
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
<!-- contact-section end -->

<div data-th-replace="fragments/footer :: footer"/>

</body>
</html>
