<!DOCTYPE html>
<html>

<head>
  <div data-th-replace="fragments/header :: header-base"/>
  <div data-th-replace="fragments/header :: header-css"/>
</head>
<body>

<div data-th-replace="fragments/header :: nav"/>
  <!-- inner-apge-banner start -->
  <section class="inner-page-banner bg_img overlay-3" data-background="assets/images/inner-page-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="page-title">Créer mon compte client</h2>
          <ol class="page-list">
            <li><a href="index.html"><i class="fa fa-home"></i>Accueil</a></li>
            <li>Inscription</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- inner-apge-banner end -->
  
   <!-- error-section start -->
  <section class="error-section pt-120 pb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="error-content text-center">
            <img src="assets/images/elements/success.png" alt="image" class="img-success">
            <h2 class="title">Félicitation! Vous avez créer votre compte </h2>
            <p>Connectez vous à présent à votre compte</p>
            <a href="login" class="cmn-btn">Se connecter</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- error-section end -->

<div data-th-replace="fragments/footer :: footer"/>

</body>

</html>